.section_foto{
  background-color: #837d7d;
 }
 .section{
  display: flex;
  padding: 30px 50px;
 }
 
 .section_yazi-button{
  margin: 0px;;
  padding: 10px;
 }
 .section_yazi-basliq{
  display: inline;
 }
 .button{
  color: white;
  background-color: black;;
 }
 .section_yazi{
  width: 400px;
  height: 300px;
  padding: 70px;
 }
 
 
 